<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>{{tournamentCaption}}</title>

    <!-- D3.js -->

    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/d3pie.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/jquery-1.9.0.js') }}"></script>

    <script src="{{ url_for('static', filename='js/topojson.min.js') }}"></script>


    <script src="{{ url_for('static', filename='js/datamaps.world.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/go.js') }}"></script>

    <script src="{{ url_for('static', filename='js/DoubleTreeLayout.js') }}"></script>

    <script src="{{ url_for('static', filename='js/logic/gradient.js') }}"></script>

    <script src="{{ url_for('static', filename='js/logic/utils.js') }}"></script>

    <script src="{{ url_for('static', filename='js/logic/donut/visual-d3.js') }}"></script>

    <script src="{{ url_for('static', filename='js/logic/donut/inner_slice_skeleton.js') }}"></script>

    <script src="{{ url_for('static', filename='js/logic/donut/outter_slice_skeleton.js') }}"></script>


    <script src="{{ url_for('static', filename='js/logic/score/draw_score.js') }}"></script>

    <script src="{{ url_for('static', filename='js/logic/donut/config.js') }}"></script>

    <script src="{{ url_for('static', filename='js/logic/selected_list.js') }}"></script>

   <script src="{{ url_for('static', filename='js/logic/countries_map/show_map.js') }}"></script>

    <script src="{{ url_for('static', filename='js/logic/stadiums_map/stadiums_map.js') }}"></script>

    <script src="{{ url_for('static', filename='js/logic/playoff/playoff.js') }}"></script>

    <script src="{{ url_for('static', filename='js/logic/playoff/playoff.js') }}"></script>

    <script src="{{ url_for('static', filename='js/logic/groups/groups.js') }}"></script>

    <script src="{{ url_for('static', filename='js/logic/groups/script.js') }}"></script>

    <script src="https://d3js.org/d3.v4.min.js"></script>

    <script src="{{ url_for('static', filename='js/logic/gradient.js') }}"></script>

    <script src="{{ url_for('static', filename='js/logic/calendar/calendar.js') }}"></script>


    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="icon" href="{{ url_for('static', filename= 'png/wc_icons/')}}{{tournamentId}}.png">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style_menu.css') }}">

    <script src="{{ url_for('static', filename='js/globalize.min.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/dx.chartjs.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/knockout-3.0.0.js' ) }}"></script>

    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.0/d3-tip.js"></script>
    <script src="//d3js.org/queue.v1.min.js"></script>
    <script src="{{ url_for('static', filename='js/logic/donut/host_data.js') }}"></script>

    <!-- Google tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NV247PCW69">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-NV247PCW69');
    </script>

    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(91290835, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/91290835" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->


</head>

<body>
<style>
    body, html {
        height: 100%;
        margin: 0;
    }

    body {
        /* The image used */
        background-image: url("{{ url_for('static', filename='png/background.png' ) }}");

        /* Full height */
        height: 100%;


        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
    }


</style>

<div id="donutVisual" style="position: absolute;"></div>
<div id="my-icon-select" style="position: absolute;"></div>
<!--<div id="youtube" style="position: relative;float:right;font-family: bellota">-->
<!--    <p> 📩 donaldwipper@gmail.com</p>-->
<!--    <a href="https://www.youtube.com/watch?v=ld8AY3CgSn4" style="position: relative;float:right;font-family: bellota">-->
<!--        <img id="yout" alt="Tutorial" src="https://www.flaticon.com/free-icons/youtube" width=150" height="70">TUTORIAL-->
<!--    </a>-->

<!--</div>-->
<!--</div>-->

<!--<div id="cooperate" style="position: absolute;bottom:0;left:0;font-family: bellota">-->
<!--    <p> © Dmitry Utiralov</p>-->

<!--</div>-->


<script>
    var tournamentId = {{tournamentId}}
    var teamCategory = "{{team_category}}"
    var svgImagePath = "{{ url_for('static', filename='svg/circle-flags/flags' ) }}"
    if (teamCategory == "CLUB") {
        svgImagePath = "{{ url_for('static', filename='svg/teams-clubs' ) }}"
    }
    var svgPath = "{{ url_for('static', filename='svg' ) }}"
    var svgDefaultImage = "{{ url_for('static', filename='svg/circle-flags/flags/unknown.svg' ) }}"
    var geoJSONMapPath = "{{ url_for('static', filename='json_map/world.geojson.json' ) }}"

    var data_stad;
    var data_world;

    console.log(championships);
    function get_country(tournamentId) {
        const championship = championships.find((ch) => ch.id === tournamentId);
        return championship ? championship.countries : [];
    }

    d3.json(geoJSONMapPath, function (data) {
        data_stad = data;
        data_world = JSON.parse(JSON.stringify(data));

        data_stad.features = data_stad.features.filter((d) => {
            const countries = get_country(tournamentId);
            return countries.includes(d.properties.name);
            // return d.properties.name == get_country(tournamentId)[0];
        });

        data_world.features = data_world.features.filter((d) => {
            return d.id != 'ATA'
        })


        // Здесь можно выполнять действия с отфильтрованными данными, например, отображение карты

        console.log(data_stad.features); // Пример: вывод отфильтрованных данных в консоль
    });


    var tournaments = [
        {% for t in tournaments %} {
            text: "{{t['caption']}}",
            value: {{t['id']}},
            selected: true,
            imageSrc: "{{t['Url']}}"
        },
        {% endfor %}
    ]

    var show_games = {
    {% for d in slice_name %}
        {{d['key']}}:{{d['value']}},
    {% endfor %}
    }



    var games_playoff = [
        {% for d in games_playoff%} {
            "key": "{{d['key']}}",
            "parent": "{{d['parent']}}",
            "teamHome": "{{d['teamHome']}}",
            "teamAway": "{{d['teamAway']}}",
            "game_order": "{{d['game_order']}}",
            "HomeShortName": (teamCategory === 'CLUB' ? "{{d['teamHomeShortName2']}}".split('-')[1] : "{{d['teamHomeShortName']}}"),
            "AwayShortName": (teamCategory === 'CLUB' ? "{{d['teamAwayShortName2']}}".split('-')[1] : "{{d['teamAwayShortName']}}"),
            "goalsHomeTeam": "{{d['goals_home_team']}}",
            "dir": "{{d['dir']}}",
            "goalsAwayTeam": "{{d['goals_away_team']}}",
            "goalsHomeTeam2": "{{d['goals_home_team2']}}",
            "goalsAwayTeam2": "{{d['goals_away_team2']}}",
            "source": (svgImagePath + "/{{d['teamHomeShortName2']}}.svg").toLowerCase(),
            //"source": "https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.onlinewebfonts.com%2Fsvg%2Fimg_108976.png&f=1&nofb=1&ipt=d4c750dc910f4d9c532b541c89ce1504c082c48e82959eb5b7ee8fdb57ab9b11&ipo=images",
            "imageHome": (svgImagePath + "/{{d['teamHomeShortName2']}}.svg").toLowerCase(),
            "imageAway": (svgImagePath + "/{{d['teamAwayShortName2']}}.svg").toLowerCase()
        },
        {% endfor %}
    ]





    var games = [
        {% for d in games_clear %} {
            "teamHome": "{{d['teamHome']}}",
            "teamAway": "{{d['teamAway']}}",
            "result": "{{d['result']}}",
            "city": "{{d['city']}}",
            "stadium": "{{d['stadium']}}",
            "date": "{{d['date']}}",
            "date2": "{{d['date2']}}",
            "events_text": "{{d['events_text']}}",
            "game_order": "{{d['game_order']}}",
            "time": "{{d['time']}}",
            "status":  "{{d['status']}}",
            "stage_name": "{{d['stage_name']}}",
            "goalsHomeTeam": "{{d['goalsHomeTeam']}}",
            "goalsAwayTeam": "{{d['goalsAwayTeam']}}",
            "imageHome": (svgImagePath + "/{{d['teamHomeShortName2']}}.svg").toLowerCase(),
            "imageAway": (svgImagePath + "/{{d['teamAwayShortName2']}}.svg").toLowerCase()
        },
        {% endfor %}
    ]

    var outArcsData = [
        {% for d in outGroups %} {
            "name": "{{d['name']}}",
            "color": "{{d['color']}}"

        },
        {% endfor %}
    ]

    var visualDonatData = [
        {% for d in teams %} {
            "name": "{{d['name']}}",
            "value": {{d['value']}},
            "color": "{{d['color']}}",
            "short_name": "{{d["short_name"]}}",
            "image": (svgImagePath + "/{{d['short_name2']}}.svg").toLowerCase(),
            "id_group": "{{d['id_group']}}"
        },
        {% endfor %}
        {
            "name": "",
            "value": {{space}},
            "color": "none",
            "id_group": -1
        },
        {% for d in rounds %} {
            "name": "{{d['name']}}",
            "time": "{{d['time']}}",
            "value": {{d['value']}},
            "color": "{{d['color']}}",
            "id_group": "{{d['id_group']}}"
        },
        {% endfor %}
        {
            "name": "",
            "value": {{space}},
            "color": "none",
            "id_group": -1
        },
        {% for d in places %} {
            "name": "{{d['name']}}",
            "value": {{d['value']}},
            "color": "{{d['color']}}",
            "color": "{{d['color']}}",
            "long": "{{d['lng']}}",
            "lat": "{{d['lat']}}",
            "stadium_icon":  svgPath + "/stadium.svg",
            "id_group": "{{d['id_group']}}"


        },
        {% endfor %}
        {
            "name": "",
            "value": {{space}},
            "color": "none",
            "id_group": -1
        },
        {% for d in stages %} {
            "name": "{{d['title']}}",
            "value": {{d['value']}},
            "color": "{{d['color']}}",
            "id_group": "{{d['id_group']}}"
        },
        {% endfor %}
        {
            "name": "",
            "value": {{space}},
            "color": "none",
            "id_group": -1
        },

    ];

    var click_events = {
    {% for d in click_events %}
        {{d['key']}}:{{d['value']}},
    {% endfor %}
    }







    function function_get_games_array(Array) {
        var gms = []
        for (i = 0; i < Array.length; i++) {
            gms.push(games[Array[i]])
        }
        return gms;
    }


    function getTournament(index) {
        window.location.href = window.location.protocol + '//' + window.location.host + "/tour_stat?tournamentId=" + index;

    }

    //параметры к
    var svg = d3.select("#donutVisual").append("svg")
        .attr("width", (width + margin.left + margin.right))
        .attr("height", (height + margin.top + margin.bottom))
        .append("g").attr("class", "wrapper")
        .attr("transform", "translate(" + (width / 2 + margin.left) + "," + (height / 2 + margin.top) + ")");



    function draw_elements() {


        //Create an arc function
        var arc = d3.svg.arc()
            .innerRadius(innerRadius)
            .outerRadius(outerRadius);


        //Turn the pie chart 90 degrees counter clockwise, so it starts at the left
        var pie = d3.layout.pie()
            .startAngle(-180 * Math.PI / 180 + Math.PI / 6)
            .endAngle(-180 * Math.PI / 180 + Math.PI / 6 + 2 * Math.PI)
            .value(function (d) {
                return d.value;
            })
            .padAngle(.01)
            .sort(null);

        createDonatDiagram(visualDonatData, pie, arc, global_arc_koefX, global_arc_koefY, outerRadius, fontSizeInnerSlice, "visualDonatArcs", "visualDonatArc", "visualDonatText")
        generate_outter_skeleton()
        create_selected_list(tournaments, {{tournamentPos}})
        // document.getElementById("youtube").style.fontSize = fontSizeInnerSlice * 1.5 + 'px';
        // document.getElementById("youtube").style.opacity = 0.1;
        // document.getElementById("yout").src = "{{ url_for('static', filename='png/youtube.png' ) }}";
        // document.getElementById("yout").width = fontSizeInnerSlice * 1.5;
        // document.getElementById("yout").height = fontSizeInnerSlice * 1.5;

    }

    draw_elements()
    // $(window).resize(function() {
    //     console.log("on_resize");
    //     location.reload();
    // });


</script>

</body>

</html>





