<html>

<head>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>

    <!-- Create an element where the map will take place -->
    <svg id="my_dataviz" width="800" height="600" style='border: 1px solid green'></svg>

    <script src="{{ url_for('static', filename='js/logic/result.js') }}"></script>
<body>
<div id="chart" style="position: absolute;"></div>

<script>

    create_result()

</script>

</body>
</head>

</html>
