.burger-container {
    position: fixed;
    top: 20px;
    left: 20px;
}

.burger {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.burger-icon {
    font-size: 24px;
    margin-right: 8px;
}

.menu-items {
    display: none;
}

.tournament-item {
    cursor: pointer;
}

.seasons-list {
    display: none;
    padding-left: 20px;
}

.season-item {
    cursor: pointer;
}
